<main>
    <div>
        <a href="/rooms"><img src="/images/caretleft.svg" alt="">Back</a>
    </div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <button type="submit">Upload</button>
    </form>
    <h1>This is the profile page for <%= user.username %></h1>
    <img class="avatar-large" src="<%= user.avatar %>" alt="Avatar Image of User" />
    <p>ID: <%= user.id%></p>

    <form action="/logout" method="POST">
        <p>Do you want to log out? Click the button below</p>
        <button type="submit">Log out</button>
    </form>
    <form action="/delete" method="POST">
        <p>Do you want to delete your account?</p>
        <button type="submit" id="deleteAccount">Delete account</button>
    </form>
</main>