<main>
<!--    <form class="form-join">-->
<!--        <input type="text" id="name" maxlength="8" placeholder="Your name" size="5" required />-->
<!--        <input type="text" id="room" placeholder="Chat room" size="5" required />-->
<!--        <button id="join" type="submit">Join</button>-->
<!--    </form>-->

<!--    <ul class="chat-display"></ul>-->

<!--    <p class="user-list"></p>-->

<!--    <p class="room-list"></p>-->

<!--    <p class="activity"></p>-->

<!--    <p class="activity"></p>-->

<!--    <form class="form-msg">-->
<!--        <input type="text" id="message-input" placeholder="Your message" required>-->
<!--        <button id="microphone-button"><img src="../assets/icons/microphone.svg" alt=""/></button>-->
<!--        <button type="submit"><img src="../assets/icons/send.svg" alt=""/> </button>-->
<!--    </form>-->
</main>