<main>
    <h2>Choose a room here</h2>
    <ul id="roomList"></ul>
    <h3>Or create your own</h3>
    <form>
        <label>
            <input type="text" id="room" placeholder="Enter room name" size="5" required>
        </label>
        <button id="createRoom" type="submit">Create room</button>
    </form>
</main>