@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

header {
    position: fixed;
    z-index: 1;
}

main {
    height: 100dvh;
    display: flex;
    position: relative;

    section {
        &:nth-of-type(1) {
            width: 25%;
        }

        &:nth-of-type(2) {
            width: 100%;
            height: 100dvh;
        }
    }
}

input {
    width: 100%;
    padding-left: 10px;
    height: 32px;
    border: none;
    border-radius: 999px;
    background-color: #2b2b2b;
    color: var(--text-color);
    outline: none;
    caret-color: var(--accent-color);
}

.chatHeader {
    background-color: var(--bg-color);
    padding: .5rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.chatUI {
    display: flex;
    gap: .4rem;
    padding: .5rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #E7E7E7;
    margin: .6rem 0;
    opacity: 50%;
    border-radius: 999px;
}

.sidebar {
    background-color: var(--bg-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    position: relative;
    min-width: 250px;

    &.fold {
        width: 80px;
    }

    ul {
        > li {
            display: flex;
            align-items: center;
            gap: .5rem;
            padding: .5rem;
            border-radius: 10px;
            margin: .5rem 0;
            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: var(--accent-color);
            }
        }
    }

    > button {
        appearance: none;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        position: absolute;
        right: -16px;
        top: 50%;
        transform: translateY(-50%);

        &.fold {
            transform: rotate(180deg);
        }
    }

    > span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: white;
    }

    > div {

        > p {
            padding-left: .5rem;
        }

        a {
            display: flex;
            gap: .5rem;
            align-items: center;
            padding: .5rem;
            border-radius: 10px;
            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: var(--accent-color);

                div p {
                    color: var(--text-color);
                }
            }

            div {
                h2 {
                    color: var(--text-color);
                }

                p {
                    color: grey;
                    font-size: .75rem;
                    transition: all 0.1s ease-in-out;
                }
            }
        }
    }
}


.avatar {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sendButton {
    border: none;
    background-color: var(--accent-color);
    width: 32px;
    height: 32px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.1s ease;

    &:hover {
        opacity: 0.8;
    }

    &:nth-of-type(2) img {
        transform: rotate(90deg);
    }
}

.chatDisplay {
    background-color: #2b2b2b;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: left;
    height: calc(100% - 96px);
}

.post {
    background-color: #eee;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: #fff;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: blue;
}

.post__header--reply {
    background-color: purple;
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.activity {
    font-style: italic;
}

.dialog {
    color: var(--text-color);
    background-color: #2b2b2b;
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    &::backdrop {
        background-color: var(--bg-color);
        opacity: .75;
    }

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 2rem;

        p {
            font-size: 1.4rem;
            text-align: center;
            font-weight: 600;
        }

        div {
            display: flex;
            gap: 1rem;

            a, button {
                border: none;
                width: 12rem;
                padding: 1rem 0;
                text-align: center;
                color: var(--text-color);
                border-radius: 10px;
                cursor: pointer;
                font-weight: 600;
                font-size: 1.2rem;
            }

            button {
                appearance: none;
                background-color: transparent;
                border: 1px solid white;
            }

            a {
                background-color: var(--accent-color);
            }
        }
    }
}