@import "./variables.css";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100vw;
    height: 100dvh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    height: 50dvh;
}

header {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

h1 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    border: 1px solid white;
    padding: 1.5rem 1rem;
    border-radius: 20px;
    gap: .75rem;
    margin: 1.5rem 0;

    label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-weight: 600;

        input {
            height: 32px;
            border-radius: 10px;
            border: none;
            padding-left: .5rem;
        }
    }

    button {
        background-color: var(--accent-color);
        border: none;
        padding: 12px 0;
        color: var(--text-color);
        border-radius: 10px;
        cursor: pointer;
        margin-top: 1rem;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

#roomList {
    margin: 2rem 0;


    a {
        display: block;
        border: none;
        padding: 1rem 2rem;
        background-color: var(--accent-color);
        color: white;
        border-radius: 10px;
        cursor: pointer;
        margin: 1rem 0;

        &:hover {
            background-color: var(--highlight-color);
        }
    }
}

#deleteAccount {
    background-color: red;
}

.avatar {
    width: 56px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 1rem;
}