<section>
    <ul class="chat-display"></ul>

    <form class="form-msg">
        <input type="text" id="message-input" placeholder="Your message" required>
        <button id="microphone-button"><img src="/images/microphone.svg" alt="" /></button>
        <button type="submit"><img src="/images/send.svg" alt="" /></button>
    </form>
</section>
