<section>
    <div class="chatHeader">
        <h1><%= room.name %></h1>
    </div>
    <ul class="chatDisplay"></ul>

    <form class="chatUI">
        <input type="text" id="message-input" placeholder="Your message" required>
        <button class="sendButton" id="microphone-button"><img src="/images/microphone.svg" alt="" /></button>
        <button class="sendButton" type="submit"><img src="/images/send.svg" alt="" /></button>
    </form>
</section>
