<header>
    <nav>
        <a href="/"><img src="/images/house.svg" alt="" /> </a>
        <h1>Chat app</h1>
        <a href="/profile/:userId"><img class="avatar" src="/images/avatar.svg" alt="" /></a>
    </nav>
</header>