<dialog class="dialog" id="dialog">
    <form method="dialog">
        <p>Are you sure you want to leave the chat?</p>
        <div>
            <button id="closeModal">Stay in the chat</button>
            <a href="/profile">Go to Profile</a>
        </div>
    </form>
</dialog>