<form>
    <label>
        Username:
        <input type="text" required/>
    </label>
    <label>
        Email:
        <input type="email" required/>
    </label>
    <label>
        Date of birth:
        <input type="text" required/>
    </label>
    <label>
        Password:
        <input type="text" required/>
    </label>
    <button type="submit">Log in</button>
</form>
<a href="login.ejs"></a>