<section class="sidebar">
    <div>
        <a href="/rooms"><img src="/images/caretleft.svg" alt="">Back</a>
        <p>Room 1</p>
    </div>
    <ul>
        <li>
            <img src="/images/box.svg" alt="" />
            <span>Users in the room</span>
        </li>
        <li>
            <img src="/images/box.svg" alt="" />
            <span>Users in the room</span>
        </li>
        <li>
            <img src="/images/box.svg" alt="" />
            <span>Users in the room</span>
        </li>
        <li>
            <img src="/images/box.svg" alt="" />
            <span>Users in the room</span>
        </li>
    </ul>
    <button id="foldSidebar">
        <img src="/images/arrow.svg" alt="Fold sidebar" />
    </button>
    <div>
        <ul>
            <li>
                <img src="/images/gear.svg" alt="" />
                <span>Support</span>
            </li>
            <li>
                <img src="/images/gear.svg" alt="" />
                <span>Settings</span>
            </li>
        </ul>
        <div class="divider"></div>
        <a href="/profile">
            <img class="avatar" src="/images/gerard.png" alt="Avatar image" />
            <div>
                <h2>Gerard Joling</h2>
                <p>gerard.joling@gmail.com</p>
            </div>
        </a>
    </div>
</section>